@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Triada R2Rml endpoint", "", "", new {area = ""}, new {@class = "navbar-brand"})
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://opendata.cz/">Open data</a></li>
                    <li><a href="http://standard.zindex.cz/">Datový standard</a></li>
                    <li>@Html.ActionLink("O Aplikaci", "About")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>

            <div class="row">
                <div class="col-md-4">
                    <p>&copy; @DateTime.Now.Year - Pavel Hryzlík </p>
                </div>
                <div class="col-md-8">
                    <p class="small" style="text-align: right">
                        Dump:
                        <a href="~/dump?Format=Html">Html</a>,
                        <a href="~/dump?Format=Turtle">Turtle</a>,
                        <a href="~/dump?Format=Json">JSON</a>,
                        <a href="~/dump?Format=NTripples">NTripples</a>,
                        <a href="~/dump?Format=Xml">XML</a>,
                        <a href="~/dump?Format=RdfXml">RDF/XML</a>,
                        <a href="~/dump?Format=Csv">CSV</a>,
                        <a href="~/dump?Format=JsonLd">JSON-LD</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="float: right; text-align: right">
                    <a href="http://opendata.cz/">
                        <img alt="" class="img-thumbnail" style="height: 50px" src="@Url.Content("~/Content/images/opendata_cz.png")"/>
                    </a>
                    <a href="http://www.w3.org/TR/REC-rdf-syntax/">
                        <img alt="" class="img-thumbnail" style="height: 50px" src="@Url.Content("~/Content/images/rdf_w3c_icon.png")"/>
                    </a>
                    <a href="http://json-ld.org/">
                        <img alt="" class="img-thumbnail" style="height: 50px" src="@Url.Content("~/Content/images/json-ld-logo.png")"/>
                    </a>
                    <a href="http://www.mff.cuni.cz/">
                        <img alt="" class="img-thumbnail" style="height: 50px" src="@Url.Content("~/Content/images/mff.png")"/>
                    </a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
